VideoStore.WebClient/Service References/RecommendationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" />
  <xs:element name="UserLikeMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserId" type="xs:int" />
        <xs:element minOccurs="0" name="pMediaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLikeMediaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendationListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendationListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" minOccurs="0" name="GetRecommendationListByUserIdResult" nillable="true" type="q1:ArrayOfRecommendation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>